<!-- portfolio area start -->
<section class="portfolio__area p-relative portfolio__overlay pt-110 pb-90 fix">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12">
                <div class="tp-section-wrapper-3 mb-60 text-center">
                    <span class="tp-section-subtitle-3">Our Providers offers</span>
                    <h3 class="tp-section-title-3">Offers</h3>
                </div>
            </div>
        </div>
        <app-offers-row></app-offers-row>
    </div>
</section>
<!-- portfolio area end -->