<!-- portfolio area start -->
<section class="portfolio__area p-relative portfolio__overlay pt-110 pb-90 fix">
    <ng-container *ngIf="offers$ | async as offers;else loadingOffers">
        <div class="container">



            <div class="row">

                <div class="col-xxl-12">
                    <div class="tp-section-wrapper-3 mb-60 text-center">
                        <span class="tp-section-subtitle-3">{{'offers-title' | translate}}</span>
                        <h3 class="tp-section-title-3">{{'offers' | translate}}</h3>
                    </div>
                </div>
            </div>


            <div class="row justify-content-between">
                <!-- <div class="col-lg-3"> -->
                <!-- <div class="shop__sidebar on-right"> -->
                <!-- <div class="sidebar__widget mb-20">
                            <div class="sidebar__widget-content">
                                <div class="sidebar__search">
                                    <form [formGroup]="searchFormGroup" (ngSubmit)="HandleOnSubmit()">
                                        <div class="sidebar__search-input">
                                            <input type="text" formControlName="search"
                                                placeholder="{{'keyword-search' | translate}}">
                                            <button type="submit">
                                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M9.55 18.1C14.272 18.1 18.1 14.272 18.1 9.55C18.1 4.82797 14.272 1 9.55 1C4.82797 1 1 4.82797 1 9.55C1 14.272 4.82797 18.1 9.55 18.1Z"
                                                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                    <path d="M19.0002 19.0002L17.2002 17.2002" stroke="currentColor"
                                                        stroke-width="1.5" stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div> -->

                <!-- <div class="shop__widget tp-accordion">
                            <div class="accordion" id="shop_category">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="category__widget">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#cagetory_widget_collapse" aria-expanded="true"
                                            aria-controls="cagetory_widget_collapse">
                                            {{'categories' | translate}}
                                        </button>
                                    </h2>
                                    <div id="cagetory_widget_collapse" class="accordion-collapse collapse show"
                                        aria-labelledby="category__widget" data-bs-parent="#shop_category">
                                        <div class="accordion-body">
                                            <div class="shop__widget-list">
                                                <div class="shop__widget-list-item">
                                                    <input type="checkbox" id="iphone" checked>
                                                    <label for="iphone">iPhone Cases (08)</label>
                                                </div>
                                                <div class="shop__widget-list-item">
                                                    <input type="checkbox" id="android" checked>
                                                    <label for="android">Android Cases (04)</label>
                                                </div>
                                                <div class="shop__widget-list-item">
                                                    <input type="checkbox" id="accessories">
                                                    <label for="accessories">Accessories (02)</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                <!-- </div> -->
                <!-- </div> -->
                <div class="col-lg-12">

                    <app-offers-row [offers]="offers" [itemsPerPage]="2"></app-offers-row>
                </div>
            </div>

        </div>
    </ng-container>

    <ng-template #loadingOffers>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-8 col-xl-8 col-lg-10">
                    <div class="services__section-title-5">
                        <div class="section__title-wrapper-5 mb-50 text-center">
                            <h3 class="section__title-5">{{'loading-offers' | translate}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>


</section>
<!-- portfolio area end -->