<div class="row mb-3">
    <div class="col-md-6">
        <h3 class="mb-3">Category Page</h3>

    </div>

    <div class="col-md-6 text-end ">
        <a routerLink="/admin/category/create" class="btn btn-secondary">Create Category</a>
    </div>
</div>
<div class="card p-4">
    <div class="row">
        <div class="col-md-12">
            <ng-container *ngIf="categories$ | async as categories">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Created Date</th>
                                <th scope="col">Update Date</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let category of categories;let i=index">
                                <th>{{i+1}}</th>
                                <td>{{category.name}}</td>
                                <td>{{category.createdAt | date}}</td>
                                <td>{{category.updatedAt ?(category.updatedAt | date) : 'Not Updated yet'}} </td>
                                <td>
                                    <button class="btn btn-info"
                                        routerLink="/admin/category/edit/{{category.id}}">Edit</button>

                                    <button class="btn btn-danger mx-2"
                                        [swal]="{icon:'warning',
                                        title: 'Delete Confirmation' ,
                                        text:'Eveyrthing releated to this category will be deleted too !',
                                        showCancelButton: true,confirmButtonText: 'Yes,Confirm',cancelButtonText:'Cancel' }"
                                        (confirm)="HandleOnDelete(category.id)">Delete</button>

                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </ng-container>

        </div>
    </div>
</div>