<div class="row mb-3">
  <div class="col-md-6">
    <h3 class="mb-3">Users Page</h3>
  </div>
</div>

<div class="card p-4">
  <div class="row">
    <div class="col-md-12">
      <ng-container *ngIf="users$ | async as users">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Name</th>
                <th scope="col">IsActive</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let user of users | paginate:{itemsPerPage: itemsPerPage, currentPage: currentPage} ; let i = index">
                <th>{{ i + 1 }}</th>
                <td>{{ user.email! }}</td>
                <td>{{ user.companyName ?? user.firstName }}</td>
                <td>{{ user.isActive }}</td>
                <td>
                  <button *ngIf="!user.isActive" class="btn btn-outline-success" [swal]="{
                        icon: 'info',
                        title: 'Activate Confirmation',
                        showCancelButton: true,
                        confirmButtonText: 'Yes,Confirm',
                        cancelButtonText: 'Cancel'
                      }" (confirm)="HandleOnActivate(user.email!)">
                    Activate
                  </button>

                  <button *ngIf="user.isActive" class="btn btn-outline-danger" [swal]="{
                        icon: 'warning',
                        title: 'Activate Confirmation',
                        showCancelButton: true,
                        confirmButtonText: 'Yes,Confirm',
                        cancelButtonText: 'Cancel'
                      }" (confirm)="HandleOnDisactive(user.email!)">
                    Disactivate
                  </button>

                  <button class="btn btn-danger mx-2" [swal]="{
                        icon: 'warning',
                        title: 'Delete Confirmation',
                        showCancelButton: true,
                        confirmButtonText: 'Yes,Confirm',
                        cancelButtonText: 'Cancel'
                      }" (confirm)="HandleOnDelete(user.email!)">
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="text-center fs-5">
          <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
        </div>
      </ng-container>
    </div>
  </div>
</div>