<!-- contact area start -->
<section class="tp-section-area p-relative z-index-1 tp-section-spacing ">
    <div class="tp-section-bg include-bg" data-background="assets/site/img/contact/contact-bg.png"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8">
                <div class="tp-section-wrapper-2 text-center">
                    <span class="tp-section-subtitle-2 subtitle-mb-7">{{'provider-signup-page' | translate}}</span>
                    <h3 class="tp-section-title-2 font-70">{{'provider-signup-heading' |translate}}</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact area end -->

<!-- contact form area start -->
<section class="contact__form-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="contact__form-2 contact__style-2 contact__translate">
                    <form>
                        <div class="row">

                            <div class="col-md-12 mb-3">
                                <tui-input tuiTextfieldExampleText="Field placeholder" formControlName="nameValue">
                                    {{'company' | translate}}
                                    <span class="tui-required"></span>
                                </tui-input>
                            </div>

                            <div class="col-md-4 mb-3">
                                <tui-select formControlName="value">
                                    {{'category' | translate}}
                                    <span class="tui-required"></span>
                                    <input tuiTextfield placeholder="{{'category-placeholder' |translate}}" />
                                    <tui-data-list-wrapper *tuiDataList [items]="fakeData"></tui-data-list-wrapper>
                                </tui-select>
                            </div>
                            <div class="col-md-4 mb-3">
                                <tui-select formControlName="value">
                                    {{'country' | translate}}
                                    <span class="tui-required"></span>
                                    <input tuiTextfield placeholder="{{'country-placeholder' |translate}}" />
                                    <tui-data-list-wrapper *tuiDataList [items]="fakeData"></tui-data-list-wrapper>
                                </tui-select>
                            </div>

                            <div class="col-md-4 mb-3">
                                <tui-select formControlName="value">
                                    {{'city' | translate}}
                                    <span class="tui-required"></span>
                                    <input tuiTextfield placeholder="{{'city-placeholder' |translate}}" />
                                    <tui-data-list-wrapper *tuiDataList [items]="fakeData"></tui-data-list-wrapper>
                                </tui-select>
                            </div>

                            <div class="col-md-12 mb-3">
                                <tui-input formControlName="nameValue">
                                    {{'address' | translate}}
                                    <span class="tui-required"></span>
                                </tui-input>
                            </div>

                            <div class="col-md-12 mb-3">
                                <tui-input formControlName="nameValue">
                                    {{'google-location-link' | translate}}
                                    <span class="tui-required"></span>
                                </tui-input>
                            </div>

                            <div class="col-md-6 mb-3">
                                <tui-input formControlName="nameValue">
                                    {{'website' | translate}}
                                    <span class="tui-required"></span>
                                </tui-input>
                            </div>
                            <div class="col-md-6 mb-4">
                                <tui-input formControlName="nameValue">
                                    {{'email' | translate}}
                                    <span class="tui-required"></span>
                                </tui-input>
                            </div>

                            <div class="col-md-6 mb-4">
                                <tui-input formControlName="nameValue">
                                    {{'phone' | translate}}
                                    <span class="tui-required"></span>
                                </tui-input>
                            </div>
                            <div class="col-md-6 mb-4">
                                <tui-select formControlName="value">
                                    {{'discount' | translate}}
                                    <span class="tui-required"></span>
                                    <input tuiTextfield placeholder="{{'discount-placeholder' |translate}}" />
                                    <tui-data-list-wrapper *tuiDataList [items]="fakeData"></tui-data-list-wrapper>
                                </tui-select>
                            </div>

                            <div class="col-md-4">
                                <tui-input-files *ngIf="!control.value" accept="image/*" [formControl]="control"
                                    (reject)="onReject($event)" link="{{'upload-logo'|translate}}"
                                    label="{{'logo-drop-label'|translate}}"></tui-input-files>

                                <tui-files class="tui-space_top-1">
                                    <tui-file *ngIf="loadedFiles$ | async as file" [file]="file"
                                        [showDelete]="control.enabled" (removed)="removeFile()"></tui-file>

                                    <tui-file *ngIf="rejectedFiles$ | async as file" state="error" [file]="file"
                                        [showDelete]="control.enabled" (removed)="clearRejected()"></tui-file>


                                </tui-files>
                            </div>

                            <div class="col-md-4">
                                <tui-input-files *ngIf="!control.value" accept="image/*" [formControl]="control"
                                    (reject)="onReject($event)" link="{{'upload-photo'|translate}}"
                                    label="{{'photo-drop-label'|translate}}"></tui-input-files>

                                <tui-files class="tui-space_top-1">
                                    <tui-file *ngIf="loadedFiles$ | async as file" [file]="file"
                                        [showDelete]="control.enabled" (removed)="removeFile()"></tui-file>

                                    <tui-file *ngIf="rejectedFiles$ | async as file" state="error" [file]="file"
                                        [showDelete]="control.enabled" (removed)="clearRejected()"></tui-file>


                                </tui-files>
                            </div>

                            <div class="col-md-4">
                                <div class="d-flex align-items-center">
                                    <div class="footer__qrcode-thumb mr-10">
                                        <i class="fa-solid fa-lock fs-1"></i>
                                    </div>
                                    <div class="footer__qrcode-content">
                                        <p>{{'info-secure' |translate}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="tui-form__buttons">
                                    <button tuiButton size="m" type="submit" class="tui-form__button">
                                        {{'signup'|translate}}
                                    </button>
                                    <button tuiButton type="button" appearance="flat" size="m" class="tui-form__button">
                                        {{'cancel' |translate}}
                                    </button>
                                </div>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact form area end -->

<!-- contact location box area start -->
<section class="contact__loacation-box-area pt-120 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="contact__location-box text-center white-bg mb-30">
                    <div class="contact__location-box-icon">
                        <img src="assets/site/img/contact/contact-location-2.png" alt="">
                    </div>
                    <div class="contact__location-box-content">
                        <h3 class="contact__location-box-title">Sany Francisco</h3>

                        <div class="contact__location-box-info">
                            <p><a href="mailto:location@website.com">location@website.com</a></p>
                            <p><a href="tel:686-324-6838">686-324-6838</a></p>
                        </div>

                        <div class="contact__location-box-btn">
                            <a href="https://www.google.com/maps/place/102+Thompson+St,+New+York,+NY+10012,+USA/@40.7255437,-74.004061,17z/data=!3m1!4b1!4m5!3m4!1s0x89c2598c338f691d:0x6d5f394e7a1962cc!8m2!3d40.7255397!4d-74.0018723"
                                target="_blank" class="tp-btn-border">View Location</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="contact__location-box text-center white-bg mb-30">
                    <div class="contact__location-box-icon">
                        <img src="assets/site/img/contact/contact-location-1.png" alt="">
                    </div>
                    <div class="contact__location-box-content">
                        <h3 class="contact__location-box-title">Paris</h3>

                        <div class="contact__location-box-info">
                            <p><a href="mailto:location@website.com">location@website.com</a></p>
                            <p><a href="tel:686-324-6838">686-324-6838</a></p>
                        </div>

                        <div class="contact__location-box-btn">
                            <a href="https://www.google.com/maps/place/102+Thompson+St,+New+York,+NY+10012,+USA/@40.7255437,-74.004061,17z/data=!3m1!4b1!4m5!3m4!1s0x89c2598c338f691d:0x6d5f394e7a1962cc!8m2!3d40.7255397!4d-74.0018723"
                                target="_blank" class="tp-btn-border">View Location</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="contact__location-box text-center white-bg mb-30">
                    <div class="contact__location-box-icon">
                        <img src="assets/site/img/contact/contact-location-3.png" alt="">
                    </div>
                    <div class="contact__location-box-content">
                        <h3 class="contact__location-box-title">Egpyt</h3>

                        <div class="contact__location-box-info">
                            <p><a href="mailto:location@website.com">location@website.com</a></p>
                            <p><a href="tel:686-324-6838">686-324-6838</a></p>
                        </div>

                        <div class="contact__location-box-btn">
                            <a href="https://www.google.com/maps/place/102+Thompson+St,+New+York,+NY+10012,+USA/@40.7255437,-74.004061,17z/data=!3m1!4b1!4m5!3m4!1s0x89c2598c338f691d:0x6d5f394e7a1962cc!8m2!3d40.7255397!4d-74.0018723"
                                target="_blank" class="tp-btn-border">View Location</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact location box area end -->