<ng-container *ngIf="lang$ | async as lang">

    <div class="card p-4">

        <div class="row mb-md-4">
            <div class="col-md-6">
                <h3 class="mb-md-3">{{'services' | translate}}</h3>
            </div>
            <div class="col-md-6 text-start">
                <a routerLink="/profile/services/create" class="btn btn-dark"
                    [ngClass]="lang == 'ar'?'text-start' : 'text-end'">{{'add-service' | translate}}</a>
            </div>
        </div>



        <!-- features area start -->
        <section class="features__area ">
            <ng-container *ngIf="services$ | async as services;else loadingServices ">
                <div class="container">
                    <app-services-row [services]="services" [itemsPerPage]="2"></app-services-row>
                </div>
            </ng-container>

            <ng-template #loadingServices>
                <div class="container">
                    <div class="text-center">
                        <h3 class="text-danger"> {{'loading-services' | translate}}</h3>
                    </div>
                </div>
            </ng-template>


        </section>
        <!-- features area end -->
    </div>
</ng-container>