<!-- event details area start -->
<section class="event__details-area pt-120 pb-65">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="event__details-wrapper">
                    <div class="event__details-content mb-50">
                        <!-- <div class="event__details-tag mb-10">
                            <span>Conference</span>
                        </div> -->
                        <h3 class="event__details-title">Service Title</h3>

                        <div class="event__details-thumb m-img mb-60">
                            <img src="assets/site/img/event/details/event-details-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="event__details-inner">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="event__details-left pr-35">
                                    <div class="event__details-about mb-50">
                                        <h3 class="event__details-about-title">Service Description </h3>
                                        <p>The Big Oxmox advised her not to do so, because there were thousands of bad
                                            Commas, wild Question Marks and devious Semikoli, but the Little Blind Text
                                            didn’t listen. She packed her seven versalia, put her initial into the belt
                                            and made herself on the way. Lorem ipsum dolor sit amet, consectetur
                                            adipiscing elit, sed do eiusmod.</p>
                                        <p>Far far away, behind the word mountains, far from the countries vokalia and
                                            Consonantia, there live the blind texts. Separated they live in Book marks
                                            grove right at the coast of the Semantics, <br> a large language ocean.</p>
                                    </div>


                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="event__sidebar mt-5 ml-50">
                                    <div class="event__widget mb-20">
                                        <h3 class="event__widget-title">Service Info</h3>
                                        <div class="event__widget-content">
                                            <div class="event__details-info">

                                                <div class="event__details-info-item d-flex align-items-start">
                                                    <div class="event__details-info-icon">
                                                        <span>
                                                            <svg width="22" height="24" viewBox="0 0 22 24" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M6.55554 1V4.33333" stroke="currentColor"
                                                                    stroke-width="1.5" stroke-miterlimit="10"
                                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                                <path d="M15.4446 1V4.33333" stroke="currentColor"
                                                                    stroke-width="1.5" stroke-miterlimit="10"
                                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                                <path d="M1.55573 8.8777H20.4446" stroke="currentColor"
                                                                    stroke-width="1.5" stroke-miterlimit="10"
                                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                                <path
                                                                    d="M21 8.2222V17.6666C21 21 19.3333 23.2222 15.4444 23.2222H6.55556C2.66667 23.2222 1 21 1 17.6666V8.2222C1 4.88886 2.66667 2.66664 6.55556 2.66664H15.4444C19.3333 2.66664 21 4.88886 21 8.2222Z"
                                                                    stroke="currentColor" stroke-width="1.5"
                                                                    stroke-miterlimit="10" stroke-linecap="round"
                                                                    stroke-linejoin="round" />
                                                                <path d="M15.1051 14H15.115" stroke="currentColor"
                                                                    stroke-width="1.5" stroke-linecap="round"
                                                                    stroke-linejoin="round" />
                                                                <path d="M15.1051 17.3332H15.115" stroke="currentColor"
                                                                    stroke-width="1.5" stroke-linecap="round"
                                                                    stroke-linejoin="round" />
                                                                <path d="M10.995 14H11.005" stroke="currentColor"
                                                                    stroke-width="1.5" stroke-linecap="round"
                                                                    stroke-linejoin="round" />
                                                                <path d="M10.995 17.3332H11.005" stroke="currentColor"
                                                                    stroke-width="1.5" stroke-linecap="round"
                                                                    stroke-linejoin="round" />
                                                                <path d="M6.88258 14H6.89256" stroke="currentColor"
                                                                    stroke-width="1.5" stroke-linecap="round"
                                                                    stroke-linejoin="round" />
                                                                <path d="M6.88258 17.3332H6.89256" stroke="currentColor"
                                                                    stroke-width="1.5" stroke-linecap="round"
                                                                    stroke-linejoin="round" />
                                                            </svg>
                                                        </span>
                                                    </div>
                                                    <div class="event__details-info-content">
                                                        <h4 class="event__details-info-title">Provider</h4>
                                                        <p>Company Name</p>
                                                    </div>
                                                </div>
                                                <div class="event__details-info-item d-flex align-items-start">
                                                    <div class="event__details-info-icon">
                                                        <span>
                                                            <svg width="20" height="22" viewBox="0 0 20 22" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M9.99967 12.4329C11.7982 12.4329 13.2562 11.0357 13.2562 9.31213C13.2562 7.58857 11.7982 6.19135 9.99967 6.19135C8.20115 6.19135 6.74316 7.58857 6.74316 9.31213C6.74316 11.0357 8.20115 12.4329 9.99967 12.4329Z"
                                                                    stroke="currentColor" stroke-width="1.5" />
                                                                <path
                                                                    d="M1.25338 7.49162C3.30957 -1.17054 16.7009 -1.16054 18.7467 7.50163C19.947 12.5829 16.6487 16.884 13.7575 19.5446C11.6596 21.4851 8.34045 21.4851 6.23207 19.5446C3.35132 16.884 0.0530624 12.5729 1.25338 7.49162Z"
                                                                    stroke="currentColor" stroke-width="1.5" />
                                                            </svg>
                                                        </span>
                                                    </div>
                                                    <div class="event__details-info-content">
                                                        <h4 class="event__details-info-title">Address</h4>
                                                        <p>Jakarta Garden City Hall, Room C</p>
                                                    </div>
                                                </div>
                                                <div class="event__details-info-item d-flex align-items-start">
                                                    <div class="event__details-info-icon">
                                                        <span>
                                                            <svg width="22" height="24" viewBox="0 0 22 24" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M6.55554 1V4.33333" stroke="currentColor"
                                                                    stroke-width="1.5" stroke-miterlimit="10"
                                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                                <path d="M15.4446 1V4.33333" stroke="currentColor"
                                                                    stroke-width="1.5" stroke-miterlimit="10"
                                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                                <path d="M1.55573 8.8777H20.4446" stroke="currentColor"
                                                                    stroke-width="1.5" stroke-miterlimit="10"
                                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                                <path
                                                                    d="M21 8.2222V17.6666C21 21 19.3333 23.2222 15.4444 23.2222H6.55556C2.66667 23.2222 1 21 1 17.6666V8.2222C1 4.88886 2.66667 2.66664 6.55556 2.66664H15.4444C19.3333 2.66664 21 4.88886 21 8.2222Z"
                                                                    stroke="currentColor" stroke-width="1.5"
                                                                    stroke-miterlimit="10" stroke-linecap="round"
                                                                    stroke-linejoin="round" />
                                                                <path d="M15.1051 14H15.115" stroke="currentColor"
                                                                    stroke-width="1.5" stroke-linecap="round"
                                                                    stroke-linejoin="round" />
                                                                <path d="M15.1051 17.3332H15.115" stroke="currentColor"
                                                                    stroke-width="1.5" stroke-linecap="round"
                                                                    stroke-linejoin="round" />
                                                                <path d="M10.995 14H11.005" stroke="currentColor"
                                                                    stroke-width="1.5" stroke-linecap="round"
                                                                    stroke-linejoin="round" />
                                                                <path d="M10.995 17.3332H11.005" stroke="currentColor"
                                                                    stroke-width="1.5" stroke-linecap="round"
                                                                    stroke-linejoin="round" />
                                                                <path d="M6.88258 14H6.89256" stroke="currentColor"
                                                                    stroke-width="1.5" stroke-linecap="round"
                                                                    stroke-linejoin="round" />
                                                                <path d="M6.88258 17.3332H6.89256" stroke="currentColor"
                                                                    stroke-width="1.5" stroke-linecap="round"
                                                                    stroke-linejoin="round" />
                                                            </svg>
                                                        </span>
                                                    </div>
                                                    <div class="event__details-info-content">
                                                        <h4 class="event__details-info-title">Phone</h4>
                                                        <p>+12312312</p>
                                                    </div>
                                                </div>
                                                <div class="event__details-info-item d-flex align-items-start">
                                                    <div class="event__details-info-icon">
                                                        <span>
                                                            <svg width="22" height="24" viewBox="0 0 22 24" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M6.55554 1V4.33333" stroke="currentColor"
                                                                    stroke-width="1.5" stroke-miterlimit="10"
                                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                                <path d="M15.4446 1V4.33333" stroke="currentColor"
                                                                    stroke-width="1.5" stroke-miterlimit="10"
                                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                                <path d="M1.55573 8.8777H20.4446" stroke="currentColor"
                                                                    stroke-width="1.5" stroke-miterlimit="10"
                                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                                <path
                                                                    d="M21 8.2222V17.6666C21 21 19.3333 23.2222 15.4444 23.2222H6.55556C2.66667 23.2222 1 21 1 17.6666V8.2222C1 4.88886 2.66667 2.66664 6.55556 2.66664H15.4444C19.3333 2.66664 21 4.88886 21 8.2222Z"
                                                                    stroke="currentColor" stroke-width="1.5"
                                                                    stroke-miterlimit="10" stroke-linecap="round"
                                                                    stroke-linejoin="round" />
                                                                <path d="M15.1051 14H15.115" stroke="currentColor"
                                                                    stroke-width="1.5" stroke-linecap="round"
                                                                    stroke-linejoin="round" />
                                                                <path d="M15.1051 17.3332H15.115" stroke="currentColor"
                                                                    stroke-width="1.5" stroke-linecap="round"
                                                                    stroke-linejoin="round" />
                                                                <path d="M10.995 14H11.005" stroke="currentColor"
                                                                    stroke-width="1.5" stroke-linecap="round"
                                                                    stroke-linejoin="round" />
                                                                <path d="M10.995 17.3332H11.005" stroke="currentColor"
                                                                    stroke-width="1.5" stroke-linecap="round"
                                                                    stroke-linejoin="round" />
                                                                <path d="M6.88258 14H6.89256" stroke="currentColor"
                                                                    stroke-width="1.5" stroke-linecap="round"
                                                                    stroke-linejoin="round" />
                                                                <path d="M6.88258 17.3332H6.89256" stroke="currentColor"
                                                                    stroke-width="1.5" stroke-linecap="round"
                                                                    stroke-linejoin="round" />
                                                            </svg>
                                                        </span>
                                                    </div>
                                                    <div class="event__details-info-content">
                                                        <h4 class="event__details-info-title">Discount</h4>
                                                        <p>10%</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="event__widget text-center">
                                        <div class="event__details-btn">
                                            <img src="https://via.placeholder.com/250x150" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- event details area end -->