<tui-input-files *ngIf="!control.value" accept="{{accept}}" [formControl]="control" (reject)="onReject($event)"
    link="{{linklabel}}" label="{{textlabel}}"></tui-input-files>

<tui-files class="tui-space_top-1">
    <tui-file *ngIf="loadedFiles$ | async as file" [file]="file" [showDelete]="control.enabled"
        (removed)="removeFile()"></tui-file>

    <tui-file *ngIf="rejectedFiles$ | async as file" state="error" [file]="file" [showDelete]="control.enabled"
        (removed)="clearRejected()"></tui-file>


</tui-files>

<tui-error *ngIf="control.getError('required')">
    File is required.
</tui-error>
<tui-error *ngIf="control.getError('dimensions')">
    File must be exactly 1080x1080 pixels.
</tui-error>