<!-- event details area start -->
<section class="event__details-area pt-120 pb-65">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="event__details-wrapper">
                    <div class="event__details-content mb-50">
                        <!-- <div class="event__details-tag mb-10">
                            <span>Conference</span>
                        </div> -->
                        <div class="row mb-md-3">
                            <div class="col-md-6">
                                <h3 class="event__details-title">Offer Title</h3>
                            </div>

                            <div class="col-md-6 text-start">
                                <h3 class="event__details-title">Provider Name</h3>
                            </div>
                        </div>

                        <div class="event__details-thumb m-img mb-60">
                            <img src="assets/site/img/event/details/event-details-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="event__details-inner">
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="event__details-left pr-35">
                                    <div class="event__details-about mb-50">
                                        <h3 class="event__details-about-title">Offer Description </h3>
                                        <p>The Big Oxmox advised her not to do so, because there were thousands of bad
                                            Commas, wild Question Marks and devious Semikoli, but the Little Blind Text
                                            didn’t listen. She packed her seven versalia, put her initial into the belt
                                            and made herself on the way. Lorem ipsum dolor sit amet, consectetur
                                            adipiscing elit, sed do eiusmod.</p>
                                        <p>Far far away, behind the word mountains, far from the countries vokalia and
                                            Consonantia, there live the blind texts. Separated they live in Book marks
                                            grove right at the coast of the Semantics, <br> a large language ocean.</p>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- event details area end -->