<div class="row mb-3">
    <div class="col-md-6">
        <h3 class="mb-3">Advertisers Page</h3>

    </div>

    <!-- <div class="col-md-6 text-end ">
        <a routerLink="/admin/plans/create" class="btn btn-secondary">Create New Plan</a>
    </div> -->
</div>

<div class="card p-4">
    <div class="row">
        <div class="col-md-12">
            <ng-container *ngIf="users$ | async as users">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Email</th>
                                <th scope="col">country</th>
                                <th scope="col">city</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let user of users | paginate:{itemsPerPage: itemsPerPage, currentPage: currentPage};let i=index ">
                                <th>{{i+1}}</th>
                                <td>{{user.email}}</td>
                                <td>{{user.country}}</td>
                                <td>{{user.city}}</td>
                                <td>
                                    <!-- <button class="btn btn-info"
                                        routerLink="/admin/category/edit/{{category.id}}">Edit</button> -->

                                    <button class="btn btn-success mx-2"
                                        [swal]="{icon:'success',
                                        title: 'Activate Confirmation' ,
                                        text:'Eveyrthing releated to this user will be Activated too !',
                                        showCancelButton: true,confirmButtonText: 'Yes,Confirm',cancelButtonText:'Cancel' }"
                                        (confirm)="HandleOnActivate(user.email!)">Activate</button>

                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="text-center fs-5">
                    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
                </div>
            </ng-container>

        </div>
    </div>
</div>