<div class="card p-4">
    <h3 class="mb-4">Card Details Page</h3>
    <div class="row justify-content-center">
        <div class="col-md-8 mb-3">
            <img src="https://via.placeholder.com/500x300" alt="card" class="img">
        </div>
        <div class="col-md-8 mb-3">
            <img src="https://via.placeholder.com/500x300" alt="card" class="img ">
        </div>
    </div>


    <div class="row">
        <p>Plan Type : Gold</p>
        <p>Expireation Date : 1/26/2023</p>
    </div>



</div>