<div class="card p-3">
  <div class="row mb-3">
    <div class="col-md-6">
      <h3 class="mb-3">Create Plan Page</h3>
    </div>
    <div class="col-md-6 text-end">
      <a routerLink="/admin/plans" class="btn btn-secondary">Go Back</a>
    </div>
  </div>
  <form [formGroup]="planFormGroup" class="mb-5" (ngSubmit)="HandleOnSubmit()">
    <div class="row">
      <div class="col-md-4 mb-3">
        <app-input-field
          [control]="nameControl"
          label="Plan Name"
        ></app-input-field>
      </div>
      <div class="col-md-4 mb-3">
        <app-number-count-input
          [control]="priceControl"
          label="Price"
          [stepValue]="1"
          [maxValue]="99999"
        ></app-number-count-input>
      </div>
      <div class="col-md-4 mb-3">
        <app-number-count-input
          [control]="durationControl"
          label="Duration(month)"
          [stepValue]="1"
          [maxValue]="12"
        ></app-number-count-input>
      </div>
      <div class="col-md-4 mb-3">
        <app-number-count-input
          [control]="postsPerMonthContorl"
          label="Posts Per Month"
          [stepValue]="1"
          [maxValue]="100"
        ></app-number-count-input>
      </div>
      <div class="col-md-4 mb-3">
        <app-number-count-input
          [control]="offerPerMonthContorl"
          label="Offer Per Month"
          [stepValue]="1"
          [maxValue]="100"
        ></app-number-count-input>
      </div>
      <div class="col-md-4 mb-3">
        
        <app-select-input [control]="planTypeContorl" label="{{'Plan Type' | translate}}"
                                        [options]="planTypeOpts"></app-select-input>
      </div>

      <!-- <div class="col-md-3 mb-3">
                <button type="button" (click)="onAddFeature()" class="btn btn-info">
                    Add Plans Features
                </button>
            </div>

            <div class="mb-3 row" formArrayName="features">
                <div class="mb- col-md-4" *ngFor="let feature of features.controls; let i = index">
                    <label class="form-label">Feature ({{i+1}})</label>
                    <input type="text" class="form-control" id="feature-{{ i }}" [formControlName]="i" />
                    <p class="text-danger" *ngIf="!feature.valid && feature.touched">
                        Please enter valid text
                    </p>
                </div>
            </div> -->
    </div>
    <button
      [disabled]="!planFormGroup.valid"
      type="submit"
      class="btn btn-success"
    >
      Create
    </button>
  </form>
</div>
