<ng-container *ngIf="lang$ | async as lang">
    <div class="card p-4">
        <div class="row mb-sm-4">
            <div class="col-md-6">
                <h3 class="mb-md-3">{{'offers' | translate}}</h3>
            </div>
            <div class="col-md-6 text-start">
                <a routerLink="/profile/offers/create" class="btn btn-dark"
                    [ngClass]="lang == 'ar'?'text-start' : 'text-end'">{{'add-offer' | translate}}</a>
            </div>
        </div>


        <ng-container *ngIf="offers$ | async as offers;else loadingOffers">
            <div class="container">
                <app-offers-row [offers]="offers" [itemsPerPage]="2" [lang]="lang"
                    [isOfferPage]="false"></app-offers-row>
            </div>
        </ng-container>

        <ng-template #loadingOffers>
            <div class="container">
                <h3 class="text-danger">{{'loading-offers' |translate}}</h3>
            </div>
        </ng-template>


    </div>



</ng-container>