<h3 class="fs-2">Providers Page</h3>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <th>1</th>
                        <td><a routerLink="/admin/providers/1">Sample user</a></td>
                        <td>
                            <button class="btn btn-info">Edit</button>

                            <button class="btn btn-danger mx-2">Delete</button>
                        </td>

                    </tr>
                    <tr>
                        <th>1</th>
                        <td><a routerLink="/admin/providers/1">Sample user</a></td>
                        <td>
                            <button class="btn btn-info">Edit</button>

                            <button class="btn btn-danger mx-2">Delete</button>
                        </td>

                    </tr>
                    <tr>
                        <th>1</th>
                        <td><a routerLink="/admin/providers/1">Sample user</a></td>
                        <td>
                            <button class="btn btn-info">Edit</button>

                            <button class="btn btn-danger mx-2">Delete</button>
                        </td>

                    </tr>
                    <tr>
                        <th>1</th>
                        <td><a routerLink="/admin/providers/1">Sample user</a></td>
                        <td>
                            <button class="btn btn-info">Edit</button>

                            <button class="btn btn-danger mx-2">Delete</button>
                        </td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>